body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#editor {
    width: 100%;
    height: 100vh;
    border: none;
    padding: 40px 10px 10px;
    outline: none;
    font-family: 'Arial', sans-serif;
    letter-spacing: 0.1rem;
    color: black;
    resize: none;
    font-size: 16px;
}


.fas {
    cursor: pointer;
}

button {
    padding: 0.3rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
}


#reload {
    background-color: #007bff;
    color: white;
}

#save {
    background-color: #0056b3;
    color: white;
}

.controls-container {
    display: flex;
    position: fixed;
    width: 100%;
    height: 36px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 8px;
    background-color: lightgoldenrodyellow;
}

.font-size {
    display: flex;
    align-items: center;
    gap: 10px;
}

label {
    font-size: 1.1rem;
}

input {
    padding: 0.3rem;
    border: 1px solid #ccc;
    outline: none;
    font-size: 1rem;
}

.always-on-top-on {
    background-color: #d55a5a;
    color: #fff;
}

.always-on-top-on:hover {
    background-color: #d54343;
}

.always-on-top-off {
    background-color: #1ea814;
    color: #fff;
}

.always-on-top-off:hover {
    background-color: #14810a;
}

.button-container {
    display: flex;
    gap: 10px;
}