body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#editor {
    width: 100%;
    height: 100vh;
    border: none;
    padding: 40px 10px 10px;
    outline: none;
    font-family: 'Arial', sans-serif;
    letter-spacing: 0.1rem;
    color: black;
    resize: none;
    font-size: 16px;
}


.fas {
    cursor: pointer;
}

button {
    padding: 0.3rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    -webkit-app-region: no-drag;
}


#refresh {
    background-color: #007bff;
    color: white;
}

#save {
    background-color: #0056b3;
    color: white;
}

.title-bar {
    display: flex;
    position: fixed;
    width: 100%;
    height: 36px;
    justify-content: start;
    align-items: center;
    gap: 10px;
    background-color: lightgoldenrodyellow;
    -webkit-app-region: drag;
}

.controls-container {
    display: flex;
    gap: 10px;
    padding: 0 10px;
}

.window-button-container {
    display: flex;
    margin-left: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.window-button{
    cursor: pointer;
    -webkit-app-region: no-drag;
    color: black;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 20%;
}

#window-minimize i{
    margin-top: -10px;
}

#window-minimize:hover{
    background-color: #007bff;
    color: white;
}

#window-close:hover{
   background-color: #dc3545;
    color: white;
}



.font-size {
    display: flex;
    align-items: center;
    gap: 10px;
}

label {
    font-size: 1.1rem;
}

input {
    padding: 0.2rem 0.2rem;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 15%;
    font-size: 1rem;
    width: 50px;
    -webkit-app-region: no-drag;
}

.always-on-top-on {
    background-color: #d55a5a;
    color: #fff;
}

.always-on-top-on:hover {
    background-color: #d54343;
}

.always-on-top-off {
    background-color: #1ea814;
    color: #fff;
}

.always-on-top-off:hover {
    background-color: #14810a;
}

.button-container {
    display: flex;
    gap: 10px;
}